/*CSS Reset*/

*/ { 
	margin:0;
	padding:0;
	box-sizing:border-box;
 }

/*Bootstrap Classes */
body {
	font-family: "Helvetica", sans-serif;
}

*text-center {	
	text-align: center;
}

.h-25 {
	height:25%;
}

.p-3 {
	padding:15px;
}

.bg-success {
	background-color: forestgreen;
}

.bg-warning {
	background-color: yellow;
}

.bg-danger {
	background-color: darkred;
}

.bg-secondary {
	background-color: lightslategray;
}

/* Bootstrap Flexbox Classes */

.d-flex	{
	display:flex;}

/*this will only work along with d-flex horizontal*/
.justify-content-center {
	justify-content: center;
}

/*Targets y-axis or verticasl*/
.align-item-center {
	align-items: center;
}

.flex-column	{
	flex-direction: column;
}

.flex-column-reverse	{
	flex-direction: column-reverse;
}